[Unit]
Description=apu-boot
After=soft-kernel-daemon.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/apu-boot
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
