[Unit]
Description=APU init Daemon
Before=soft-kernel-daemon.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/init-apu
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
